<% calendar ||= Calendar.new %>
<% monthdate = calendar.calendarStart %>
<br>
<div class="col-md-4">
	<%= link_to "Prev", setup_path({:prevMonth => calendar.prevMonth}), remote: true %>
</div>
<div class="col-md-4" align="center">
	<%= monthdate[1] %>
</div>
<div class="col-md-4" align="right">
	<%= link_to "Next", setup_path({:nextMonth => calendar.nextMonth}), remote: true %>
</div>

		<table class = "table table-striped">
			<tr>
				<th> Sunday</th>
				<th> Monday</th>
				<th> Tuesday</th>
				<th> Wednesday</th>
				<th> Thursday</th>
				<th> Friday</th>
				<th> Saturday</th>
			</tr>
			<% monthdate[0].each do |c| %>
			<tr>
				<% c.each do |w| %>
					<% room = calendar.getRoom(w) %>
					<td class=<%= "calendarSuccess" if room %>> 
						<%= (hidden_field_tag 'info', room[1]) if room %>
						<%= (hidden_field_tag 'id', room[0]) if room %>
						<%= (hidden_field_tag 'games', room[2]) if room %>
						<%= w %> 
					</td>
				<% end %>
			</tr>
			<% end %>
		</table>
<br>
<br>
<br>

