<% current_user %>
<nav class="navbar navbar-default">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li class="<%= 'active' if current_page?(index_path) %>"> <%= link_to "Main", index_path %> </li>
      <% if current_user %>
        <li class="<%= 'active' if current_page?(setup_path) %>"> <%= link_to "Setup", setup_path %> </a> </li>
      <li class="<%= 'active' if current_page?(join_path) %>"> <%= link_to "Join", join_path %> </a> </li>
      <% end %>
      <li> <a href="#"> Boardgame Tools </a> </li>
      <li class="<%= 'active' if current_page?(tournament_path) %>"> <%= link_to "Tournament Builder", tournament_path %> </a> </li>
    </ul>


    <ul class="nav navbar-nav navbar-right">
      <li class = "dropdown"> 
      	<a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= logged_in? ? (current_user.name) : ("Log In") %>
        <span class="caret"></span></a>
        <ul class = "dropdown-menu">
          <%= render 'shared/navbar_login' %>
        </ul>
    </ul>
  </div>
</nav>