<div id = "error">
	<% if @room.errors.any? %>
		<% @room.errors.full_messages.each do |e| %>
			<%= e %>
			<br>
		<% end %>
	<% end %>
</div>

<div class="col-md-6"> 
	<br>
		<%= form_tag setup_path do %>
			<%= hidden_field_tag(:admin, current_user.id) %>
			<%= label_tag :password %>
			<br>
			<%= password_field_tag :password%>
			<br>
			<%= label_tag :password_confirmation %>
			<br>
			<%= password_field_tag :password_confirmation %>
			<br>
			<%= select_datetime Time.now, prefix: :datetime %>
			<br>
			<br>
			<br>
			<%= label_tag "Games" %>
			<br>
			<%= text_area_tag :name, nil, rows: 5, cols: 25 %>
			<br>
			<%= check_box_tag :vote %>
			<%= label_tag "Vote?" %>
			<%= hidden_field_tag(:weight, 2) %>
			<br>
			<%= submit_tag "Create" %>
		<% end %>
	<br>
	<br>
		Invite? checkbox
	<br>
		----usernames/email addresses



</div>

<div class="col-md-6">
	<div id = "calendar">
		<%= render :partial => 'shared/make_calendar' %>
	</div>
</div>

<br>
<br>
<br>
