<div id = "error">
	<% if @ur.errors.any? %>
		<% @ur.errors.each do |attr,e| %>
			<%= e %>
			<br>
		<% end %>
	<% end %>
	<% if @error %>
		<%= @error %>
	<% end %>
	
</div>


<div class="col-md-6">
	<div id="gameDate">
		Select a date from the calendar ->
	</div>
	<div id="gameList" style="display: none">
		<ul id="list">

		</ul>
		<%= form_tag join_path do %>

			<%= hidden_field_tag :user_id, current_user.id%> 
			<%= hidden_field_tag :room_id, current_user.id, id: 'roomid'%>
			<%= label_tag :password %>
			<br>
			<%= password_field_tag :password%>
			<br>
			<%= submit_tag "Join" %>

		<% end %>

	</div>
</div>

<div class="col-md-6">
	<div id="calendar">
		<%= render :partial => 'shared/make_calendar' %>
	</div>
</div>
